*, .container{
    background-color: #F8F9FA;
}

.navbar-nav > li{
    margin-right:30px;
}

.shiftright {
    margin-left: 20px;
    font-style: italic;
}


.copyright {
    margin-left:10px;
}

.jumbotron {
    background-color: #F8F9FA;
}

.navbar-brand{
    font-size: 2.5rem;
}

.navbar {
    font-size:1.5rem;
}

.pic-me img{
    width:30%;
    height:10%;
    padding: 30px;
}

.buffer{
    height:80px;
    background-color: #F8F9FA;
}
.buffer-foot{
    height:330px;
    background-color: #F8F9FA;
}

  
  a {
    text-decoration: none;
    font-size: 15;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  i{
      font-size:1.3rem;
      margin-top: 8px;
  }

  footer{
      position:fixed;
      bottom: 0;
      background-color: #F8F9FA;
      width: 100%; 
  }

footer p {
    margin-bottom:3px
}

body{
    background-color: #F8F9FA;
    padding-bottom: 350px;;
}

hr{
    margin:5px 0px;    
    padding:1px 0px; 
}

#CR {
    font-weight: 600;
    font-size: 1.3rem;
    font-family: inherit;
}

#PFOOT{
    font-size: 1.2rem;
}

#body{
    margin: auto 50px;
    float:left;
    min-height: 100%;
}

#intro {
    padding: 10px;
}

#intro-img{
    width: 100%;
    margin:0px;
}

#intro-content {
    margin:auto;
    font-size: 150%;
}

#intro-head{
    font-size: 3rem;
}
.videos{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video {
    margin:auto auto;
    padding: 20px 10px;
}

@media only screen and (max-width: 1026px) { 
    .fadeshow { 
      display: none; 
    } 
  }