*, .container{
    background-color: #F8F9FA;
}

.navbar-nav > li{
    margin-right:30px;
}

.shiftright {
    margin-left: 20px;
    font-style: italic;
}

.jumbotron {
    padding-bottom: 100%;
    background-color: #F8F9FA;
}

.navbar-brand{
    font-size: 2.5rem;
}

.navbar {
    font-size:1.5rem;
}

.pic-me img{
    width:30%;
    height:10%;
    padding: 30px;
}